body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  /* align-items: flex-start; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 1500px){
  .header {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    top: 0;
    height:23%;
    background: gray;
    width: 100%;
    border: solid black 2px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .home-h {
    margin-left: 11.5em;
  }

  .fav-h {
    margin-top: 3.8em;
  }
  
  /* Header Divs */
  .home-link, .search-link, .books-link {
    /* border: solid black 1px; */
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 3.5em;
    height: 30%;
    width: 8em;
    font-size: 2em;
    color: black;
  }

    /* Main divs */
  .search-books, .favorites-div, .home-div {
    display: block;
    z-index: 1;
    position:relative;
    width: 98%;
    height: 30%;
    top: 10em;
    /* border: solid black 2px; */
  }

  .search-form {
    display: flex;
    width: 1300px;
    /* border: solid black 2px; */
  }

  .book-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .book {
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
  }

  .book-image {
    width: 180px;
    height: 200px;
  }

  .search-bar {
    width: 50%;
    height: 70%;
    font-size: 50px;
  }

  .search-button {

    width: 50%;
    height: 70%;
    font-size: 50px;
  }
  a:link {
    text-decoration: none;
    color: black;
  }

  .favorite-book {
    margin-left: 5em;
    width: 220px;
  }

  .favorite-img {
    width: 200px;
  }

  .rating, .price, .book-anchor {
    width: 100px;
  }
  .book-anchor {
    width: 10px;
    display:contents;
  }


  .modal-overlay {
    position: fixed;
    top: 4.8em;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .close-button {
    position: relative;
    top: 15px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1120px){
  .header {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    top: 0;
    height:23%;
    background: orangered;
    width: 100%;
    /* border: solid black 2px; */
  }
  
  /* Header Divs */
  .home-link, .search-link, .books-link {
    /* border: solid black 1px; */
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 1em;
    height: 30%;
    width: 8em;
    font-size: 3em;
    color: black;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .home-h {
    margin-left: 0em;
  }

    /* Main divs */
  .search-books, .favorites-div, .home-div {
    display: block;
    z-index: 1;
    position:relative;
    width: 100em;
    height: 30%;
    top: 10em;
    /* border: solid black 2px; */
  }

  .favorites {
    display: flex;
    justify-content: flex-start;
    border: solid black 2px;
    width: 100%;
  }

  .book-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .book {
    margin-left: 5em;
    width: 220px;
  }

  .book-image {
    width: 300px;
    height: 350px;
  }

  .book-title {
    text-wrap:wrap;
    font-size: 30px;
    width: 100%;
  }

  .rating, .price {
    font-size: 30px;
  }

  .search-bar {
    width: 50%;
    height: 70%;
    font-size: 50px;
  }

  .search-button {

    width: 50%;
    height: 70%;
    font-size: 50px;
  }

  .favorite-book {
    margin-left: 5em;
    width: 220px;
  }

  .favorite-img {
    width: 200px;
  }

  .rating, .price, .book-anchor {
    width: 100px;
  }
  .book-anchor {
    width: 10px;
    display:contents;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    font-size: 20px;
  }
  
  .close-button {
    position: relative;
    top: 15px;
    cursor: pointer;
  }

}

@media screen and (max-width: 800px) {
  .header {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    top: 0;
    height:18%;
    background: blueviolet;
    width: 100%;
    border: solid black 2px;
  }
  
  /* Header Divs */
  .home-link, .search-link, .books-link {
    /* border: solid black 1px; */
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    height: 30%;
    width: 8em;
    font-size: 3em;
    color: black;
  }

    /* Main divs */
    .search-books, .favorites-div, .home-div {
      display: block;
      z-index: 1;
      position:relative;
      width: 100em;
      height: 30%;
      top: 15em;
      /* border: solid black 2px; */
    }

    .favorites {
      display: flex;
      justify-content: flex-start;
      border: solid black 2px;
      width: 100%;
      height: 30%;
    }

    .book-list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .book {
      margin-left: 5em;
      width: 220px;
    }

    .book-image {
      width: 300px;
      height: 350px;
    }

    .book-title {
      text-wrap:wrap;
      font-size: 30px;
      width: 100%;
    }

    .rating, .price {
      font-size: 30px;
    }

    .search-bar {
      width: 50%;
      height: 70%;
      font-size: 50px;
    }

    .search-button {

      width: 50%;
      height: 70%;
      font-size: 50px;
    }

    .favorite-book {
      margin-left: 5em;
      width: 220px;
    }

    .favorite-img {
      width: 200px;
    }

    .rating, .price, .book-anchor {
      width: 100px;
    }
    .book-anchor {
      width: 10px;
      display:contents;
    }

  .modal-overlay {
    top: 5em;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    font-size: 25px;
  }
  
  .close-button {
    position: relative;
    top: 20px;
    cursor: pointer;
  }

}

@media screen and (max-width: 600px) {
  .header {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    top: 0;
    height:20%;
    background: blueviolet;
  }

  .search-books, .favorites-div, .home-div {
    /* display: block;
    z-index: 1;
    position:relative;
    width: 100em;
    height: 30%; */
    top: 15em;
    /* border: solid black 2px; */
  }

   .modal-overlay {
    top: 6em;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    font-size: 28px;
  }
  
  .close-button {
    position: relative;
    top: 15px;
    cursor: pointer;
  }
}